:root {
  background: #575656;
}
.card {
  width: 50%;

  max-height: 470px;
  min-height: 50px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  text-align: center;
  margin: 30px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.card.expanded {
  animation: expandCard 0.5s forwards;
}
@keyframes expandCard {
  from {
    height: 50px;
  }
  to {
    height: 470px;
  }
}
.search input {
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 25px;
  width: 50%;
  border-radius: 30px;
  flex: 1;
  margin: 5px;
  border: 0;
  outline: 0;
}
.search button {
  background: #ebfffc;
  color: #555;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}

.weather-icon {
  width: 150px;
  margin: 10px;
}
.weather h1 {
  font-size: 40px;
  font-weight: 500;
}
.weather h2 {
  font-size: 26px;
  font-weight: 400;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.details .col {
  display: flex;
  align-items: center;
}

.details img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.details .col div {
  text-align: left;
}

.details .col p {
  margin: 0;
}

.details .col h {
  font-size: 10px;
  font-weight: 400;
}
.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}
