@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: hsl(216, 2%, 43%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin: 0.75rem 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80vw;
  max-width: 620px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: hsl(205, 67%, 56%);
  margin: 0.5rem auto;
}

.review {
  background: whitesmoke;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  text-align: center;
}

.review:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

#person-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.prev-btn,
.next-btn {
  background: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 0 0.5rem;
  transition: all 0.3s ease-in-out;
  color: hsl(205, 67%, 56%);
}

.prev-btn:hover,
.next-btn:hover {
  color: hsl(205, 78%, 60%);
}

.random-button {
  margin-top: 1rem;
  background: hsl(205, 67%, 56%);
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.random-button:hover {
  background: hsl(205, 78%, 60%);
  color: rgb(13, 13, 16);
}
